/* Styles pour les avatars et les notifications */
.avatarCard {
    position: relative;
    flex: 1 1 calc(25% - 10px); /* 4 avatars par ligne par défaut */
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.avatarCard img {
    width: 70px; /* Taille augmentée pour les avatars */
    height: 70px;
    border-radius: 50%;
    border: 3px solid #edf2f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

/* Effet de survol pour agrandir légèrement l'image */
.avatarCard img:hover {
    transform: scale(1.1);
}

/* Conteneur alignant prénom et badge */
.name-and-score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

/* Le badge de score est placé à côté du prénom */
.score-badge {
    background-color: #48bb78;
    color: white;
    font-size: 0.8rem; /* Augmentation de la taille du texte */
    padding: 4px 8px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 8px; /* Espacement entre le prénom et le badge */
}

/* Mise en valeur des élèves sous-interrogés */
.border-yellow-400 {
    border-color: #f6e05e !important;
    border-width: 4px;
}

/* Effet de pulsation pour attirer l'attention */
.animate-pulse {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 5px rgba(255, 215, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 215, 0, 1);
    }
}

/* Responsive design: ajuster le nombre d'avatars par ligne en fonction de la taille de l'écran */
@media (max-width: 1200px) {
    .avatarCard {
        flex: 1 1 calc(33.33% - 10px); /* 3 avatars par ligne pour les écrans moyens */
    }
}

@media (max-width: 768px) {
    .avatarCard {
        flex: 1 1 calc(50% - 10px); /* 2 avatars par ligne pour les tablettes */
    }
}

@media (max-width: 480px) {
    .avatarCard {
        flex: 1 1 100%; /* 1 avatar par ligne pour les petits écrans */
    }

    /* Agrandir les avatars et le texte pour les petits écrans */
    .avatarCard img {
        width: 90px; /* Augmentation de la taille de l'avatar pour les petits écrans */
        height: 90px;
    }

    .score-badge {
        font-size: 1rem; /* Augmenter la taille du texte pour les scores sur petits écrans */
        padding: 6px 10px;
    }

    .name-and-score {
        font-size: 1rem; /* Augmenter la taille du texte pour les noms sur petits écrans */
    }
}

#randomModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#randomModal.active {
    display: flex;
}

#randomModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#randomModalContent img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#randomModalContent h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#randomModalContent button {
    padding: 10px 20px;
    background-color: #48bb78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
